PORT=3000

# To send actual emails, provide your Gmail and Gmail App Password here
# If left blank, enquiries will just be saved to the local database 
# and logged to the console
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Authentication for /admin.html
ADMIN_PASSWORD=admin123
